.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
}

.input-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.input-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 250px; /* Give them a consistent width */
  margin: 10px; /* Add space between the buttons */
  transition: background-color 0.2s;
}

.input-button:hover {
  background-color: #0056b3;
}